@use "uswds-core" as *;

#doe-playbook .grid-container {
    color: #0a0808;
    top: 2.5%;
    width: 83.5%;
}

.button-vha {
    font-size: 1rem;
    background-color: #337CB4;
}
    
// .playbook-img {
//     display: contents !important;
// }

@include at-media(mobile) {
    // mobile = 320
    .playbook-img {
        display: none;
    }
}

@include at-media(mobile-lg) {
    // mobile-lg = 480
    .playbook-img {
        display: none;
    }
}

@include at-media(tablet) {
    // tablet = 640
    .playbook-text {
        // order: 2;
        flex: 1 0 auto;
        color: yellow;
    }
    .playbook-img {
        display: contents;
        flex: 0 1 auto;
        // order: 1;
        color: yellow;
    }
}

@include at-media(tablet-lg) {
    // tablet-lg = 880
    .playbook-text {
        // order: 1;
        color: red;
    }
    .playbook-img {
        display: contents;
        // order: 2;
        color: red;
    }
    
}

@include at-media(desktop) {
    // desktop = 1024
    .playbook-text {
        // order: 1;
        color: blue;
    }
    .playbook-img {
        display: contents;
        // order: 2;
        color: blue;
    }
}    

@include at-media(desktop-lg) {
    // desktop-lg = 1200
    .playbook-text {
        // order: 1;
        color: orange;
    }
    .playbook-img {
        display: contents;
        // order: 2;
        color: orange;
    }
}

@include at-media(widescreen) {
    // widescreen = 1400
    .playbook-text {
        // order: 1;
        color: brown;
    }
    .playbook-img {
        display: contents;
        // order: 2;
        color: brown;
    }
}