<!-- DTA Syllabus - START -->
<section id="dta-syllabus">
    <div class="grid-container">
        <div class="grid-row flex-justify-center mobile:padding-bottom-15 tablet:padding-bottom-15 desktop-lg:padding-bottom-15">
            <div class="syllabus-text grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-5">
                <h1 class="margin-top-0 margin-bottom-5">Diffusion Talent Accelerator Syllabus</h1>
                <p class="margin-top-0 margin-bottom-2">Learn more about Diffusion Talent Accelerator.</p>
                <a href="../assets/documents/dta-syllabus-2023.pdf"class="usa-button button-vha" title="Read the Diffusion Talent Accelerator Syllabus">View DTA Syllabus</a>
            </div>
            <div class="syllabus-img grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-3">
                <a href="../assets/documents/dta-syllabus-2023.pdf" title="Read the Diffusion Talent Accelerator Syllabus"><img src="../assets/img/accelerator/dta-syllabus-cover.png" class="img-fluid radius-lg" alt="Cover of the Diffusion Talent Accelerator Syllabus" /></a>
            </div>
        </div>
    </div>
</section>
<!-- DTA Syllabus - END -->