<section id="secondary-row2" class="secondary-row two">
    <div class="secondary-row__content-wrapper">
        <div class="grid-container">
            <div class="position-absolute row-custom-background"></div>
            <div class="position-absolute row2-lines">
                <img src="../assets/img/accelerator/row2_lines.svg" alt="2 lines background image (blue and purple)" />
            </div>
            <div class="grid-row grid-gap">
                <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2A">
                    <img src="../assets/img/accelerator/dta-empower-your-impact.jpg" alt="A group of women and men collaborating and innovating within the VHA Innovation Ecosystem" />
                </div>
                <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2B">
                    <div class="grid-col-12 mobile-lg:padding-x-3 mobile:padding-x-1">
                        <h2 class="margin-y-0">Collaborate and Innovate Within the VHA Innovation Ecosystem</h2>
                        <p>VHA Innovation Ecosystem is seeking VISNs and National Program Offices that wish to dedicate their Full-time Equivalency (FTE) to diffusion efforts to strengthen their operations and expand VA's human talent pool capable of replicating and scaling promising practices.</p>
                    </div>
                </div>
            </div>
        </div>  
        <div class="position-absolute row2-lines-mobile">
            <img src="../assets/img/accelerator/row2_lines_mobile.svg" alt="2 lines background image (blue and purple)" />
        </div>  
    </div>    
</section>