<section id="secondary-row1" class="secondary-row one"> 
    <div class="secondary-row__content-wrapper">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row1A">
                    <h1 class="margin-y-0">Our Mission</h1>
                    <p>Diffusion Talent Accelerator (DTA) is a new offering by VHA Innovation Ecosystem (IE) for VISNs and National Program Offices seeking to strengthen their ability to replicate and scale promising practices.</p>
                </div>
                <div class="grid-col-12 desktop:grid-col-6 row1A">
                    <img src="../assets/img/accelerator/dta-mission2.jpg" alt="People watching a speaker at the Diffusion Talent Accelerator (DTA)" />
                </div>
            </div>
            <div class="grid-col-12 svg-container svg-blur-dta-1 flex-align-center">
                <svg width="1014" height="821" viewBox="0 0 1014 821" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation">
                    <g opacity="0.4">
                        <g filter="url(#filter0_f_295_918)">
                        <rect x="190" y="423.769" width="292.492" height="292.492" transform="rotate(-45 190 423.769)" fill="#337CB4"/>
                        </g>
                    </g>
                    <defs>
                    <filter id="filter0_f_295_918" x="0" y="26.9453" width="793.646" height="793.646" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="95" result="effect1_foregroundBlur_295_918"/>
                    </filter>
                    </defs>
                </svg>                    
            </div>
        </div>       
    </div>    
</section>