<section id="secondary-row1" class="secondary-row one"> 
    <div class="secondary-row__content-wrapper">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row1A">
                    <h1 class="margin-y-0">Our Mission</h1>
                    <p>Diffusion Talent Accelerator (DTA) is a new offering by VHA Innovation Ecosystem (IE) for VISNs and National Program Offices seeking to strengthen their ability to replicate and scale promising practices.</p>
                </div>
                <div class="grid-col-12 desktop:grid-col-6 row1A">
                    <img src="../assets/img/accelerator/dta-mission.jpg" alt="People watching a speaker at the Diffusion Talent Accelerator (DTA)" />
                </div>
            </div>
        </div>       
    </div>    
</section>