<section id="secondary-banner" class="secondary-banner">
    <div class="secondary-banner__content-wrapper">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="grid-col-12">
                    <div class="secondary-banner__wordmark text-center">
                        <h2>Diffusion Talent Accelerator Cohort 1 is underway.</h2>
                        <div class="secondary-banner__tagline">Diffusion of Excellence will be recruiting Cohort 2 in January of 2024. <br />For more information, please email <a href="mailto:VACODiffusionAccelerator@va.gov">VACODiffusionAccelerator@va.gov</a>.</div>
                    </div>
                </div>
            </div>
        </div>       
    </div>    
</section>