<!-- Timeline - START -->
<section id="timeline" class="timeline padding-y-6 tablet-lg:padding-y-10">
    <div class="grid-container">
        <div class="grid-col-12 svg-container svg-blur-dta-2 flex-align-center">
            <svg width="1014" height="821" viewBox="0 0 1014 821" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation">
                <g opacity="0.4">
                    <g filter="url(#filter0_f_295_918)">
                    <rect x="190" y="423.769" width="292.492" height="292.492" transform="rotate(-45 190 423.769)" fill="#337CB4"/>
                    </g>
                </g>
                <defs>
                <filter id="filter0_f_295_918" x="0" y="26.9453" width="793.646" height="793.646" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="95" result="effect1_foregroundBlur_295_918"/>
                </filter>
                </defs>
            </svg>                    
        </div>
            <div class="grid-row flex-justify-center mobile:padding-y-3 tablet:padding-y-3 desktop-lg:padding-y-3  margin-top-15">
                <div class="mission-text grid-col-12 tablet-lg:grid-col-10">
                    <h2 class="margin-top-0 margin-bottom-2 text-primary-darker text-center">Diffusion Talent Accelerator Phases</h2>
                    <p class="text-primary-darker">Diffusion of Excellence has identified 15 core competencies, which when executed, stimulate a culture of Diffusion, and construct a roadmap for replicating and sustaining innovative efforts within VHA. Diffusion Talent Accelerator Specialists will become proficient in all these competencies over time and will be introduced to them through various exercises, presentations, and real-world applications. Each competency is aligned to a phase of Diffusion Program Development as outlined in the table below.</p>
                </div>
            </div>


            <div class="usa-grid-container tablet:grid-col-12 desktop:grid-col-8 desktop:grid-offset-2 padding-bottom-15 padding-top-5">
                <!-- Header Row -->
                <div class="grid-row flex-inherit bg-primary-darker text-white padding-y-2 border-bottom-1px padding-y-0">
                    <div class="grid-col-4 font-sans-lg font-weight-bold text-center text-bold padding-y-2 ">Phase</div>
                    <div class="grid-col-8 font-sans-lg font-weight-bold text-center border-left-1px text-bold padding-y-2">Competency</div>
                </div>
            
                <div class="grid-row flex-inherit bg-white padding-y-2 border-bottom-1px border-right-1px border-left-1px border-black padding-y-0">
                    <div class="grid-col-4 font-sans-md text-primary-darker text-center flex-align-self-center text-bold padding-x-2">Understand the Landscape</div>
                    <div class="grid-col-8  border-left-1px border-black ">
                        <ul class="usa-list usa-list--unstyled text-primary-darker padding-y-2 padding-x-2 desktop-lg:padding-x-5">
                            <li class="desktop:padding-y-0 padding-y-1">Organizational Awareness</li>
                            <li class="desktop:padding-y-0 padding-y-1">Building a Diffusion Strategy</li>
                            <li class="desktop:padding-y-0 padding-y-1">Financial Planning</li>
                            <li class="desktop:padding-y-0 padding-y-1">Relationship Building & Stakeholder Management</li>
                        </ul>
                    </div>
                </div>
            
                <div class="grid-row flex-inherit bg-primary text-white padding-y-2 border-bottom-1px border-right-1px border-left-1px border-black padding-y-0">
                    <div class="grid-col-4 font-sans-md text-center  flex-align-self-center text-bold padding-x-2 ">Shape your Program</div>
                    <div class="grid-col-8  border-left-1px border-white">
                        <ul class="usa-list usa-list--unstyled padding-y-2 padding-x-2 desktop-lg:padding-x-5">
                            <li class="desktop:padding-y-0 padding-y-1">Change Management</li>
                            <li class="desktop:padding-y-0 padding-y-1">Facilitation</li>
                            <li class="desktop:padding-y-0 padding-y-1">Innovation Identification</li>
                            <li class="desktop:padding-y-0 padding-y-1">Project Management</li>
                        </ul>
                    </div>
                </div>
            
                <div class="grid-row flex-inherit bg-white padding-y-2 border-bottom-1px border-right-1px border-left-1px border-black padding-y-0">
                    <div class="grid-col-4 font-sans-md text-primary-darker text-center  flex-align-self-center text-bold padding-x-2">Share Progress</div>
                    <div class="grid-col-8  border-left-1px border-black">
                        <ul class="usa-list usa-list--unstyled text-primary-darker padding-y-2 padding-x-2 desktop-lg:padding-x-5">
                            <li class="desktop:padding-y-0 padding-y-1">Measuring & Evaluating Impact</li>
                            <li class="desktop:padding-y-0 padding-y-1">User Experience Testing</li>
                            <li class="desktop:padding-y-0 padding-y-1">Quality Assurance</li>
                            <li class="desktop:padding-y-0 padding-y-1">Communication</li>
                        </ul>
                    </div>
                </div>
            
                <div class="grid-row flex-inherit bg-primary  text-white padding-y-2 border-right-1px border-left-1px border-black padding-y-0">
                    <div class="grid-col-4 font-sans-md text-cente text-center flex-align-self-center text-bold padding-x-2">Build Performance</div>
                    <div class="grid-col-8  border-left-1px border-white">
                        <ul class="usa-list usa-list--unstyled padding-y-2 padding-x-2 desktop-lg:padding-x-5">
                            <li class="desktop:padding-y-0 padding-y-1">Coaching</li>
                            <li class="desktop:padding-y-0 padding-y-1">Resource Management</li>
                            <li class="desktop:padding-y-0 padding-y-1">Leadership</li>
                        </ul>
                    </div>
                </div>
            </div>

    </div>
</section>
<!-- Timeline - END -->