<!-- Timeline - START -->
<section id="timeline">
    <div class="grid-container">
        <div class="grid-row flex-justify-center mobile:padding-bottom-15 tablet:padding-bottom-15 desktop-lg:padding-bottom-15">
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-3">
                <div class="syllabus-header text-center bg-indigo-70">
                    <img src="../assets/img/accelerator/dta-connect-icon.svg" alt="DTA Connect icon" />
                    <h3>Connect:<br>
                    Commit to Building a Diffusion Culture</h3>
                </div>
                <div class="syllabus-details bg-indigo-60">
                    Application and Priority Establishment
                    <ul>
                        <li><u>January - February:</u> Open Applications</li>
                        <li><u>February - March:</u> Application Review</li>
                        <li><u>March - April:</u> Cohort Participation Selection</li>
                        <li><u>April - July:</u> MOU Establishment</li>
                        <li><u>June - September:</u> DTA Specialist Recruitement and Prioroity Identification</li>
                    </ul>
                </div>
                <!-- <div class="syllabus-spacer bg-indigo-70">
                </div> -->
                <!-- <div class="arrow-down-connect"> -->
                <div class="syllabus-footer">
                    <img src="../assets/img/accelerator/dta-connect-arrow.svg" alt="DTA Connect icon" />
                </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-3">
                <div class="syllabus-header text-center bg-accent-cool-darker">
                    <img src="../assets/img/accelerator/dta-catalyze-icon.svg" alt="DTA Catalyze icon" />
                    <h3>Catalyze:<br>
                    Learn about the Diffusion Secret Sauce in Supportive Environment</h3>
                </div>
                <div class="syllabus-details bg-blue-50">
                    Enrichment Opportunities
                    <ul>
                        <li><u>September - December:</u> Cohort Kick-Off and Capstone Refinement</li>
                        <li><u>January:</u> Orientation and Diffusion Academy</li>
                        <li><u>February - September:</u> Monthly Mentor Meetings and Virtual Educational Opportunities</li>
                    </ul>
                </div>
                <!-- <div class="syllabus-spacer bg-accent-cool-darker">
                </div> -->
                <!-- <div class="arrow-down-catalyze"> -->
                <div class="syllabus-footer">
                    <img src="../assets/img/accelerator/dta-connect-arrow.svg" alt="DTA Connect icon" />
                </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-3">
                <div class="syllabus-header text-center bg-accent-cool-dark">
                    <img src="../assets/img/accelerator/dta-supercharge-icon.svg" alt="DTA Supercharge icon" />
                    <h3>Supercharge:<br>
                    Employ your New Skillset and Accelerate your Diffusion Program</h3>
                </div>
                <div class="syllabus-details bg-primary-light">
                    Graduation and Beyond
                    <ul>
                        <li>Serve as a DTA Mentor for Future Cohorts</li>
                        <li>Serve as a Diffusion Academy Facilitator</li>
                        <li>Attend Innovation Ecosystem Events and Traning Opportunities</li>
                        <li>Join Diffusion Community Quarterly Calls</li>
                    </ul>
                </div>
                <!-- <div class="syllabus-spacer bg-accent-cool-dark">
                </div> -->
                <!-- <div class="arrow-down-supercharge"> -->
                <div class="syllabus-footer">
                    <img src="../assets/img/accelerator/dta-connect-arrow.svg" alt="DTA Connect icon"  />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Timeline - END -->