<!-- Timeline - START -->
<section id="timeline" class="timeline padding-y-6 tablet-lg:padding-y-10">
    <div class="grid-container">
        <div class="grid-col-12 svg-container svg-blur-dta-2 flex-align-center">
            <svg width="1014" height="821" viewBox="0 0 1014 821" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation">
                <g opacity="0.4">
                    <g filter="url(#filter0_f_295_918)">
                    <rect x="190" y="423.769" width="292.492" height="292.492" transform="rotate(-45 190 423.769)" fill="#337CB4"/>
                    </g>
                </g>
                <defs>
                <filter id="filter0_f_295_918" x="0" y="26.9453" width="793.646" height="793.646" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="95" result="effect1_foregroundBlur_295_918"/>
                </filter>
                </defs>
            </svg>                    
        </div>
            <div class="grid-row flex-justify-center mobile:padding-y-3 tablet:padding-y-3 desktop-lg:padding-y-3">
                <div class="mission-text grid-col-12 tablet-lg:grid-col-10">
                    <h2 class="margin-top-0 margin-bottom-2 text-primary-darker text-center">Diffusion Talent Accelerator Phases</h2>
                </div>
            </div>
        <div class="grid-row card-gradient margin-bottom-5 z-100">
            <div class="grid-col-12 tablet-lg:grid-col-fill margin-bottom-3 tablet-lg:margin-bottom-0 card-gradient__col">
                <div class="usa-card card-gradient__card card-gradient--card-1">
                    <div class="usa-card__container">
                        <div class="usa-card__header text-center padding-bottom-0">
                            <img src="../assets/img/accelerator/dta-connect-icon.svg" alt="DTA Connect icon" />
                            <h3>Connect:<br>
                            Commit to Building a Diffusion Culture</h3>
                        </div>
                        <div class="usa-card__body">
                            Application and Priority Establishment
                            <ul>
                                <li><u>January - March:</u> Open Applications</li>
                                <li><u>March - April:</u> Application Review and Cohort Participation Selection</li>
                                <li><u>April - July:</u> MOU Establishment</li>
                                <li><u>June - September:</u>DTA Specialist Recruitment and Priority Identification</li>
                            </ul>
                        </div>
                        <div class="usa-card__footer">
                            <img src="../assets/img/accelerator/dta-connect-arrow.svg" alt="Triangular icon" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-fill margin-bottom-3 tablet-lg:margin-bottom-0 card-gradient__col">
                <div class="usa-card card-gradient__card card-gradient--card-2">
                    <div class="usa-card__container">
                        <div class="usa-card__header text-center padding-bottom-0">
                            <img src="../assets/img/accelerator/dta-catalyze-icon.svg" alt="DTA Catalyze icon" />
                            <h3>Catalyze:<br>
                            Learn about the Diffusion Secret Sauce in Supportive Environment</h3>
                        </div>
                        <div class="usa-card__body">
                            Enrichment Opportunities
                            <ul>
                                <li><u>September - December:</u> Cohort Kick-Off and Capstone Refinement</li>
                                <li><u>January:</u> Orientation and Diffusion Academy</li>
                                <li><u>February - September:</u> Monthly Mentor Meetings and Virtual Educational Opportunities</li>
                            </ul>
                        </div>
                        <div class="usa-card__footer">
                            <img src="../assets/img/accelerator/dta-catalyze-arrow.svg" alt="Triangular icon" />
                        </div>
                    </div>
                </div>
            </div>  
            <div class="grid-col-12 tablet-lg:grid-col-fill margin-bottom-3 tablet-lg:margin-bottom-0 card-gradient__col">
                <div class="usa-card card-gradient__card card-gradient--card-3">
                    <div class="usa-card__container">
                        <div class="usa-card__header text-center padding-bottom-0">
                            <img src="../assets/img/accelerator/dta-supercharge-icon.svg" alt="DTA Supercharge icon" />
                            <h3>Supercharge:<br>
                            Employ your New Skillset and Accelerate your Diffusion Program</h3>
                        </div>
                        <div class="usa-card__body">
                            Graduation and Beyond
                            <ul>
                                <li>Serve as a DTA Mentor for Future Cohorts</li>
                                <li>Serve as a Diffusion Academy Facilitator</li>
                                <li>Attend Innovation Ecosystem Events and Traning Opportunities</li>
                                <li>Join Diffusion Community Quarterly Calls</li>
                            </ul>
                        </div>
                        <div class="usa-card__footer">
                            <img src="../assets/img/accelerator/dta-supercharge-arrow.svg" alt="Triangular icon" />
                        </div>
                    </div>
                </div>
            </div>                                 
        </div>
    </div>
</section>
<!-- Timeline - END -->