<!-- 3 Stories - START -->
<section id="three-stories" class="three-stories mobile:padding-bottom-10 mobile:padding-top-4 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-center">
            <div class="three-stories__content tablet-lg:grid-col-6">
                <h2>Surgical Pause</h2>
                <h3>Pre-Op Frailty Screening Saves Lives</h3>
                <p class="font-body">This practice utilizes Risk Analysis Index to screen Veterans for frailty in 30 seconds, effectively flagging high risk Veterans so that the surgical team can ensure that the proposed treatment plans both mitigate known risks and align with the Veterans' overarching life goals.</p>
                <a href="https://marketplace.va.gov/innovations/preoperative-frailty-screening-prehabilitation" class="usa-button button-vha scroll">More information</a>
            </div>
            <div class="tablet-lg:grid-col-5 tablet-lg:grid-offset-1 desktop-lg:grid-col-5 desktop-lg:grid-offset-1 widescreen:grid-col-5 widescreen:grid-offset-1 mobile:padding-top-5 desktop:padding-top-0">
                <div class="three-stories__img">
                    <div class="three-stories__img-container">
                        <img src="../assets/img/sharktank/surgical-pause.jpg" class="img-fluid radius-lg" alt="Poster image of contestants and judges on Shark Tank Competition stage" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="three-stories" class="three-stories mobile:padding-bottom-10 mobile:padding-top-4 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-center">
            <div class="tablet-lg:grid-col-5 mobile:padding-top-5 desktop:padding-top-0 tablet-lg:order-1 mobile:order-2">
                <div class="three-stories__img">
                    <div class="three-stories__img-container">
                        <img src="../assets/img/sharktank/vmet.jpg" class="img-fluid radius-lg" alt="Poster image of contestants and judges on Shark Tank Competition stage" />
                    </div>
                </div>
            </div>
            <div class="three-stories__content tablet-lg:grid-col-6 tablet-lg:grid-offset-1 desktop-lg:grid-col-6 desktop-lg:grid-offset-1 widescreen:grid-col-6 widescreen:grid-offset-1 tablet-lg:order-2 mobile:order-1">
                <h2>VMET</h2>
                <h3>Veterans Mental Evaluation Team</h3>
                <p class="font-body">VMET assists in responding to calls involving local law enforcement interactions with veterans in crisis. The team, which includes a VA clinician and a VA police officer, conducts outreach efforts to contact "at risk" veterans who have stopped showing up for their psychiatric care at the VA Hospital.</p>
                <a href="https://marketplace.va.gov/innovations/veterans-mental-evaluation-team-vmet" class="usa-button button-vha scroll">More information</a>
            </div>
        </div>
    </div>
</section>
<section id="three-stories" class="three-stories mobile:padding-bottom-10 mobile:padding-top-4 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-center">
            <div class="three-stories__content tablet-lg:grid-col-6">
                <h2>Beta Lactam Allergy Assessment</h2>
                <h3>Saving Lives One Assessment at a Time</h3>
                <p class="font-body">A pharmacist driven beta lactam allergy assessment and penicillin skin testing clinic established to clarify and clear patients BL allergies. This has helped minimize adverse patient outcomes associated with being labeled as being allergic to penicillin type antibiotics.</p>
                <a href="https://marketplace.va.gov/innovations/beta-lactam-allergy-assessment-saving-lives-one-assessment-at-a-time" class="usa-button button-vha scroll">More information</a>
            </div>
            <div class="tablet-lg:grid-col-5 tablet-lg:grid-offset-1 desktop-lg:grid-col-5 desktop-lg:grid-offset-1 widescreen:grid-col-5 widescreen:grid-offset-1 mobile:padding-top-5 desktop:padding-top-0">
                <div class="three-stories__img">
                    <div class="three-stories__img-container">
                        <img src="../assets/img/sharktank/beta-lactam-allergy-assessment.jpg" class="img-fluid radius-lg" alt="Poster image of contestants and judges on Shark Tank Competition stage" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 3 Stories - END -->