<!-- 3 Stories - START -->
<section class="three-stories mobile:padding-bottom-10 mobile:padding-top-4 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-center">
            <div class="grid-col-12 svg-container svg-blur-2">
                <svg width="383" height="1136" viewBox="0 0 383 1136" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.36">
                    <g filter="url(#filter0_f_295_915)">
                    <rect x="-170.235" y="945.955" width="360" height="360" transform="rotate(-118.372 -170.235 945.955)" fill="#337CB4"/>
                    </g>
                    <g filter="url(#filter1_f_295_915)">
                    <rect x="-124.109" y="677.828" width="360" height="360" transform="rotate(-118.372 -124.109 677.828)" fill="#4C599E"/>
                    </g>
                    </g>
                    <defs>
                    <filter id="filter0_f_295_915" x="-531.307" y="268.127" width="867.828" height="867.828" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="95" result="effect1_foregroundBlur_295_915"/>
                    </filter>
                    <filter id="filter1_f_295_915" x="-485.181" y="0" width="867.828" height="867.828" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="95" result="effect1_foregroundBlur_295_915"/>
                    </filter>
                    </defs>
                </svg>                    
            </div>
            <div class="three-stories__content tablet-lg:grid-col-6">
                <h2>The Surgical Pause</h2>
                <h3>Reducing Post-surgery Mortality in Frail Veterans</h3>
                <p class="font-body">The Surgical Pause utilizes the simple yet sophisticated Risk Analysis Index (RAI) to screen Veterans for frailty in 30 seconds, effectively flagging high-risk Veterans so that the surgical team can ensure that the proposed treatment plans both mitigate known risks and align with the Veterans' overarching life goals.</p>
                <a href="https://marketplace.va.gov/innovations/preoperative-frailty-screening-prehabilitation" class="usa-button button-vha">More Information</a>
            </div>
            <div class="tablet-lg:grid-col-5 tablet-lg:grid-offset-1 desktop-lg:grid-col-5 desktop-lg:grid-offset-1 widescreen:grid-col-5 widescreen:grid-offset-1 mobile:padding-top-5 desktop:padding-top-0">
                <div class="three-stories__img">
                    <div class="three-stories__img-container">
                        <a href="https://marketplace.va.gov/innovations/preoperative-frailty-screening-prehabilitation"><img src="../assets/img/sharktank/surgical-pause.jpg" class="img-fluid radius-lg" alt="Poster image of contestants and judges on Shark Tank Competition stage" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="three-stories mobile:padding-bottom-10 mobile:padding-top-4 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-center">
            <div class="tablet-lg:grid-col-5 mobile:padding-top-5 desktop:padding-top-0 tablet-lg:order-1 mobile:order-2">
                <div class="three-stories__img">
                    <div class="three-stories__img-container">
                        <a href="https://marketplace.va.gov/innovations/veterans-mental-evaluation-team-vmet"><img src="../assets/img/sharktank/vmet.jpg" class="img-fluid radius-lg" alt="Poster image of contestants and judges on Shark Tank Competition stage" /></a>
                    </div>
                </div>
            </div>
            <div class="three-stories__content tablet-lg:grid-col-6 tablet-lg:grid-offset-1 desktop-lg:grid-col-6 desktop-lg:grid-offset-1 widescreen:grid-col-6 widescreen:grid-offset-1 tablet-lg:order-2 mobile:order-1">
                <h2>VMET</h2>
                <h3>Veterans Mental Evaluation Team</h3>
                <p class="font-body">VMET assists in responding to calls involving local law enforcement interactions with Veterans in crisis. The team, which includes a VA clinician and a VA police officer, conducts outreach efforts to contact "at risk" Veterans who have stopped showing up for their psychiatric care at their VA facility.</p>
                <a href="https://marketplace.va.gov/innovations/veterans-mental-evaluation-team-vmet" class="usa-button button-vha">More Information</a>
            </div>
        </div>
    </div>
</section>
<section class="three-stories mobile:padding-bottom-10 mobile:padding-top-4 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-center">
            <div class="three-stories__content tablet-lg:grid-col-6">
                <h2>Beta Lactam Allergy Assessment</h2>
                <h3>Saving Lives One Assessment at a Time</h3>
                <p class="font-body">The Beta-Lactam Allergy Assessment is a specialized clinic led by pharmacists, dedicated to evaluating beta-lactam allergies and conducting penicillin skin tests. Its mission is to provide clarity and resolution for patients with beta-lactam allergies, ultimately reducing the potential harm linked to the misclassification of penicillin-type antibiotic allergies.</p>
                <a href="https://marketplace.va.gov/innovations/beta-lactam-allergy-assessment-saving-lives-one-assessment-at-a-time" class="usa-button button-vha">More Information</a>
            </div>
            <div class="tablet-lg:grid-col-5 tablet-lg:grid-offset-1 desktop-lg:grid-col-5 desktop-lg:grid-offset-1 widescreen:grid-col-5 widescreen:grid-offset-1 mobile:padding-top-5 desktop:padding-top-0">
                <div class="three-stories__img">
                    <div class="three-stories__img-container">
                        <a href="https://marketplace.va.gov/innovations/beta-lactam-allergy-assessment-saving-lives-one-assessment-at-a-time"><img src="../assets/img/sharktank/beta-lactam-allergy-assessment.jpg" class="img-fluid radius-lg" alt="Poster image of contestants and judges on Shark Tank Competition stage" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 3 Stories - END -->