<!-- Promising Practices, FAQ - START -->
<section class="promising-practices-faq mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-offset-2 tablet-lg:grid-col-4 display-flex flex-align-stretch">
                <div class="usa-card vha-card tablet-lg:grid-col-12">
                    <div class="usa-card__container text-center">
                      <div class="usa-card__header">
                        <img src="../assets/img/sharktank/promising-practices-icon.png" alt="promising practices icons" />
                        <h2 class="usa-card__heading">Promising Practices</h2>
                      </div>
                      <div class="usa-card__body">
                        <p>Learn more about VHA Shark Tank winners.</p>
                      </div>
                      <div class="usa-card__footer">
                        <a href="https://marketplace.va.gov/partners/diffusion-of-excellence" class="usa-button button-vha">Visit Diffusion Marketplace</a>
                      </div>
                    </div>
                </div>                
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-4 display-flex flex-align-stretch">
                <div class="usa-card vha-card tablet-lg:grid-col-12">
                    <div class="usa-card__container text-center">
                      <div class="usa-card__header">
                        <img src="../assets/img/sharktank/faq-icon.png" alt="faq icon" />
                        <h2 class="usa-card__heading">Frequently Asked Questions</h2>
                      </div>
                      <div class="usa-card__body">
                        <p>Learn more about the process and how to apply to the next VHA Shark Tank Competition.</p>
                      </div>
                      <div class="usa-card__footer">
                        <a href="../assets/documents/ST24_Applicant_FAQ.pdf" class="usa-button button-vha">Learn More</a>
                      </div>
                    </div>
                </div>                
            </div>
            <div class="grid-col-12 svg-container svg-blur-1 flex-align-center">
              <svg width="1014" height="821" viewBox="0 0 1014 821" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation">
                    <g opacity="0.4">
                    <g filter="url(#filter0_f_295_918)">
                    <rect x="190" y="423.769" width="292.492" height="292.492" transform="rotate(-45 190 423.769)" fill="#337CB4"/>
                    </g>
                    <g filter="url(#filter1_f_295_918)">
                    <rect x="409.463" y="397.341" width="292.492" height="292.492" transform="rotate(-45 409.463 397.341)" fill="#4C599E"/>
                    </g>
                    </g>
                    <defs>
                    <filter id="filter0_f_295_918" x="0" y="26.9453" width="793.646" height="793.646" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="95" result="effect1_foregroundBlur_295_918"/>
                    </filter>
                    <filter id="filter1_f_295_918" x="219.463" y="0.517578" width="793.646" height="793.646" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="95" result="effect1_foregroundBlur_295_918"/>
                    </filter>
                    </defs>
                </svg>                    
            </div>
        </div>
    </div>
</section>
<!-- Promising Practices, FAQ - END -->