<section id="doe-news" class="page-title mobile:padding-y-4 tablet:padding-y-6 desktop-lg:padding-y-8 desktop-lg:margin-y-8">
    <div class="grid-container">
      <div class="grid-row grid-gap flex-row flex-align-center">
        <div class="tablet-lg:grid-col-3 page-title__logo">
            <h2>News & Events</h2>
            <p>Stay up-to-date with the latest news and events happening in the community.</p>
        </div>
        <div class="tablet-lg:grid-col-9 page-title__content">
          
        </div>
      </div>
    </div>      
</section>    