<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="VHA Innovation Ecosystem Team is the catalyst and driving force that enables the discovery and spread of health care innovations within the Veterans Health Administration">
    <meta name="keywords" content="VHA Diffusion of Excellence, VHA DoE">
    <title>VHA - Diffusion of Excellence</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link id="favicon" rel="shortcut icon" href="../assets/img/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../assets/uswds/js/uswds-init.min.js"></script>
  </head>

  <body>

    {% include "header-sub.html" %}
    {% include "diffusion-practices/masthead.html" %}

    <div class="practices--wrapper">

        <section id="secondary-row1" class="secondary-row one">
            <div class="secondary-row__content-wrapper">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row1A">
                            <h2 class="margin-y-0">Compassionate Contact Corps</h2>
                            <h3 class="margin-y-0">Connecting Lonely Veterans with Trained Volunteers</h3>
                            <p>Compassionate Contact Corps is a social prescription program that offers friendly phone and video visits between trained volunteers and Veterans. The volunteer calls their matched Veteran once per week to provide compassionate conversation and companionship. This program has been proven to reduce loneliness and improve overall well-being in Veterans.</p>
                        </div>
                        <div class="grid-col-12 desktop:grid-col-6 row1A">
                            <img src="../assets/img/diffusion-practices/df-row1.jpg" />
                        </div>
                    </div>
                </div>       
            </div>    
        </section>
        
        <section id="secondary-row2" class="secondary-row two">
            <div class="secondary-row__content-wrapper">
                <div class="grid-container">
                    <div class="grid-row grid-gap margin-y-10">
                        <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2A">
                            <img src="../assets/img/diffusion-practices/df-row2.jpg" />
                        </div>
                        <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2B">
                            <div class="grid-col-12 mobile-lg:padding-x-3">
                                <h2 class="margin-y-0">Surgical Pause</h2>
                                <h3 class="margin-y-0">Reducing Post-Surgery Mortality in Frail Veterans</h3>
                                <p>Surgical Pause utilizes the simple yet sophisticated Risk Analysis Index (RAI) to screen Veterans for frailty in 30 seconds, effectively flagging high risk Veterans so that the surgical team can ensure that the proposed treatment plans both mitigate known risks and align with the Veterans' overarching life goals.</p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>    
        </section>

        <section id="secondary-row3" class="secondary-row three">
            <div class="secondary-row__content-wrapper">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row1A">
                            <h2 class="margin-y-0">Compassionate Contact Corps</h2>
                            <h3 class="margin-y-0">Connecting Lonely Veterans with Trained Volunteers</h3>
                            <p>Compassionate Contact Corps is a social prescription program that offers friendly phone and video visits between trained volunteers and Veterans. The volunteer calls their matched Veteran once per week to provide compassionate conversation and companionship. This program has been proven to reduce loneliness and improve overall well-being in Veterans.</p>
                        </div>
                        <div class="grid-col-12 desktop:grid-col-6 row1A">
                            <img src="../assets/img/diffusion-practices/df-row3.jpg" />
                        </div>
                    </div>
                </div>       
            </div>    
        </section>
        
        <section id="secondary-row4" class="secondary-row four">
            <div class="secondary-row__content-wrapper">
                <div class="grid-container">
                    <div class="grid-row grid-gap margin-y-10">
                        <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2A">
                            <img src="../assets/img/diffusion-practices/df-row4.jpg" />
                        </div>
                        <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2B">
                            <div class="grid-col-12 mobile-lg:padding-x-3">
                                <h2 class="margin-y-0">Surgical Pause</h2>
                                <h3 class="margin-y-0">Reducing Post-Surgery Mortality in Frail Veterans</h3>
                                <p>Surgical Pause utilizes the simple yet sophisticated Risk Analysis Index (RAI) to screen Veterans for frailty in 30 seconds, effectively flagging high risk Veterans so that the surgical team can ensure that the proposed treatment plans both mitigate known risks and align with the Veterans' overarching life goals.</p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>    
        </section>


    </div>
    

    {% include "footer-sub.html" %}

    <script src="../assets/uswds/js/uswds.min.js"></script>
    <script src="../assets/lazy/jquery.lazy.min.js"></script>
    <script src="../assets/js/functions.js"></script>
  </body>
</html>