.practices--wrapper {
    color: #1B1B1B;

    button {
        background:#337CB4;
    }

    img {
        border-radius: 8px;
    }

    .usa-card__container {
        border: none;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.10);
    }

    .usa-card__body h3 {
        color: #1B1B1B;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    @media screen and (max-width: 880px) {
        .secondary-row.two .grid-row, .secondary-row.four .grid-row {
            display: flex;
            flex-flow: column-reverse;
        }

        .secondary-row button {
            margin: 0 auto 6% auto;
        }
    }
        
}

