.practices--wrapper {

    color: #1B1B1B;

    background: no-repeat url(../../assets/img/diffusion-practices/blurred-circle.png);
    background-position: 100% 100%;

    #practices-news {
      background: #e3eef7;
      color: #000;
    }

    @media screen and (max-width: 767px) {
      #practices-news {
        padding: 10% 0% 10% !important;
        margin-top: 10%;
      }
    }

    #practices-news .usa-card__body > {
      h4, p {
        overflow: visible !important;
        -webkit-line-clamp: revert !important; 
        line-clamp: revert !important;
        -webkit-box-orient: vertical !important;
      }
    }

    #practices-news h1 {
      font-size: 40px;
    }

    #practices-news .usa-card__container img, .usa-card__heading img {
      padding-bottom: 0;
    }
    button {
        background:#337CB4;
    }

    img {
        border-radius: 8px;
    }

    #practices-news .usa-card__container {
        border: none;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.10);
    }

    .usa-card__body h3 {
        color: #1B1B1B;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    #icon-articles .flex-align-stretch {
      z-index: 2;
    }

    #icon-articles {
        background: no-repeat url(../../assets/img/diffusion-practices/blurred_circles.png);
        background-position: 50% 10%;
        padding-bottom: 15%;
    }

    @media (min-width: 64em) {    
      #secondary-row2.secondary-row.two .row2B {
        background: none;
        padding: 10% 5% 10%0;
        border-radius: 8px;
      }
    }

    @media screen and (min-width: 880px) {
        .row1A img, .row2A img {
            width: 80% !important;
        }

        .row1A img {
            float: right;
        }

        .row2A img {
            float: left;
        }
    
    }

    @media screen and (max-width: 880px) {
        #icon-articles {
            background-position: 50% 70%;
        }
    }

    @media screen and (max-width: 880px) {
        .secondary-row.two .grid-row, .secondary-row.four .grid-row {
            display: flex;
            flex-flow: column-reverse;
        }

        .secondary-row button {
            margin: 0 auto 6% auto;
        }
    }

    // custom carousel styles
    #practices-news {
      background: #E3EEF7;
      color: #000;

      .usa-card__container {
        border-color: #CCCCCC !important;
        box-shadow: 0px 4px 7px 2px #E1E1E1!important;
        min-height: 450px !important;
      }
      
      .owl-nav {
      position: absolute;
      top: 105%;
      left: 1%;
    }
    
    
    .owl-carousel {
      .usa-card__media--inset .usa-card__img {
        border-radius: 7px !important;
        background: #fff !important;
      }
    
      .owl-stage {
        margin: 0% auto 2% auto !important;
      }
    
      .owl-nav button {
        &.owl-prev {
          position: relative !important;
          top: 112% !important;
          left: 1.1% !important;
        }
    
        &.owl-next {
          position: relative !important;
          top: 112% !important;
          left: 25% !important;
          right: auto !important;
        }
    
        &.owl-next, &.owl-prev {
          background: #337CB4 !important;
          padding: 6px 0 0 0 !important;
          border-radius: 3px !important;
          width: 48px;
          height: 48px;
        }
      }
    
      &.owl-loaded {
        display: block;
        padding: 0 !important;
      }
    }
    
    .usa-card_body {
      padding-bottom: 5% !important;
    }
    
    .usa-card_header {
      p {
        font-size: max(22px, min(0.972222vw, 22px))
      }
    }
    
    .usa-card__body {
      color: #000 !important;
      line-height: 1.2 !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    
      > {
        h4 {
          margin-top: 1rem !important;
        }
      }
    
    }
    
    .usa-card__media--inset {
      padding-top: 1rem !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    
    a.card-group-tags {
      text-decoration: none;
    }
    
    .owl-carousel .owl-nav button.owl-next>span, .owl-carousel .owl-nav button.owl-prev>span {
      width: 24px;
      height: 24px;
    }
    
    @media (min-width: 64em) {
      #practices-news .use-card_header, .usa-card_body {
        padding-left: 2rem !important;
        padding-right: 0 !important;
      }
    }
    
    @media (min-width: 64em) {
      #practices-news .grid-row.grid-gap > * {
        padding-left: 1rem;
        padding-right: 0 !important;
      }
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .owl-nav {
        left: 1.5%;
      }
    }
    
    @media screen and (min-width: 768px) and (max-width: 769px) {
      #practices-news {
        padding: 5% 0 14% 0 !important
      }
    }
    
    @media screen and (min-width: 770px) and (max-width: 1025px) {
      #practices-news {
        padding: 5% 0 8% 0 !important
      }
    }
    
    @media screen and (max-width: 767px) {
      #practices-news  h1 {
        margin-top: 12%;
      }

      .owl-carousel {
        .owl-nav button {
          &.owl-next, &.owl-prev {
            display: block !important;
          }
        }
    
        width: auto !important;
      }
    
      .owl-nav {
        position: relative;
        margin-top: 10%;
        display: flex;
        justify-content: center;
      }
    
      .owl-carousel .owl-nav button {
        &.owl-next {
          position: relative !important;
          top: auto !important;
          left: auto !important;
          right: -2% !important;
        }
    
        &.owl-prev {
          position: relative !important;
          top: auto !important;
          left: -6% !important;
          right: auto !important;
        }
      }
    
      #practices-news .usa-card__container {
        max-height: none;
      }
    
      #practices-news .usa-card__body > {
        h4, p {
          font-size: calc(1rem + .9vw) !important;
        }
      }
    
      #practices-news .usa-card_header {
        h1 {
          font-size: calc(2.325rem + .9vw);
        }
    
        p {
          margin-bottom: 5% !important;
        }
      }
    }
  }
}

