@use "uswds-core" as *;


.comptition {

    color: #white;

    .h2, h2 {
        color: white;
        margin-bottom: 0;
    }

}

.offset-background {
    background: linear-gradient(180deg, #4E5A9A 0%, #337CB4 100%);
    height: 40em;
    padding-top: 1em;
    z-index: -1;
}
    
.svg-container {
    position: absolute;
    z-index: -1;

    &.svg-blur-1 {
        width: 1000px;
        right: 0px;
        bottom: 0px;
    }
    
}
