@use "uswds-core" as *;
 
    .svg-container {
        z-index: -1;
        height: 330px;
    }
      

    @include at-media(mobile) {
        .svg-blur-1 {
            margin-top: -49rem;
            margin-left: -20rem;
        }
    }
      

    @include at-media(mobile-lg) {
        .svg-blur-1 {
            margin-top: -50rem;
            margin-left: -17rem;
        }
    }

    @include at-media(tablet) {
        .svg-blur-1 {
            margin-top: -51rem;
            margin-left: -12rem;
        }
    }

    @include at-media(tablet-lg) {
        .svg-blur-1 {
            margin-top: -39rem;
            margin-left: -5rem;
        }
    }

    @include at-media(desktop) {
        .svg-blur-1 {
            margin-top: -39rem;
            margin-left: 6rem;
        }
    }

    @include at-media(desktop-lg) {
        .svg-blur-1 {
            margin-top: -38rem;
            margin-left: 10rem;
        }
    }

    @include at-media(widescreen) {
        .svg-blur-1 {
        margin-top: -38rem;
        margin-left: 10rem;
        }
    }