@use "uswds-core" as *;

.our-team {
    position: relative;
    color: #1b1b1b;

    &__item {

        @include at-media(mobile) {
            margin-bottom: 40px;
        }

        h3 {
            margin-bottom: 8px;
        }

        h4 {
            color: #{color("base-dark")};
            margin-top: 0;
        }
    }

}