@use "uswds-core" as *;

.masthead-sub {
    background: linear-gradient(235deg, #167db9, #4c599e, #00abe6);
    background-size: 600% 600%;
    // height: auto;
    position: relative;
    
    -webkit-animation: GradientRotation 40s ease infinite;
    -moz-animation: GradientRotation 40s ease infinite;
    animation: GradientRotation 40s ease infinite;

    @include at-media(mobile) {
        // padding-top: 78%;
        // height: 81vw;
        height: 46vw; // 179px;
        margin-bottom: 16%;
        .masthead__logo {
            display: none;
        }
        .masthead-sub__wordmark {
            text-align: center;
        }
    }

    @include at-media(mobile-lg) {
        // padding-top: 78%;
        height: 46vw;
        margin-bottom: 16%;
        .masthead__logo {
            display: none;
        }
        .masthead-sub__wordmark {
            text-align: center;
        }
    }

    @include at-media(tablet) {
        // padding-top: 70%;
        height: 35vw;
        margin-bottom: 14%;
        .masthead__logo {
            display: none;
        }
        .masthead-sub__wordmark {
            text-align: center;
        }
    }

    @include at-media(desktop) {
        // padding-top: 59%;
        height: 35vw;
        margin-bottom: 10%;
        .masthead__logo {
            display: contents;
        }
        .masthead-sub__wordmark {
            text-align: right;
        }
    }

    @include at-media(desktop) {
        // padding-top: 55%;
        height: 29vw;
        margin-bottom: 9%;
        .masthead__logo {
            display: contents;
        }
        .masthead-sub__wordmark {
            text-align: right;
        }
    }    

    @include at-media(desktop-lg) {
        // padding-top: 54%;
        height: 22vw;
        margin-bottom: 8%;
        .masthead__logo {
            display: contents;
        }
        .masthead-sub__wordmark {
            text-align: right;
        }
    }

    @include at-media(widescreen) {
        // height: 730px;
        height: 15.64vw;
        padding-top: 0;
        margin-bottom: 120px;
        .masthead__logo {
            display: contents;
        }
        .masthead-sub__wordmark {
            text-align: right;
        }
    }

    &__content-wrapper {
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        padding-top: 48px;
        z-index: 10;
    }

    &__logo {
        margin-bottom: 1.5rem;

        img {
            height: 78px;
            
            @include at-media(tablet) {
                height: 80px;
            }
            
        }

    }

    &__wordmark h1 {
        // font-size: clamp(2rem, 1.7391rem + 0.8696vw, 2.5rem) !important;
        // font-size: clamp(2rem, 0.6383rem + 2.1277vw, 2.5rem);
        // font-size: calc(32px + (40 - 32) * ((100vw - 320px) / (1600 - 320)));
        margin-bottom: .5em;
        color: #fff;
    }

    &__tagline {
    //    font-size: 1.375em;
    //    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320)));
       margin-bottom: 48px;
       color: #fff;
    }

    .masthead__border .block-color-2 {
        left: -2%;
        transform-origin: bottom left;

        @include at-media(tablet) {
            left: auto !important;
            transform-origin: unset !important;
        }
    }
}


.secondary-banner {
    background: linear-gradient(180deg, #4F5B9B 0%, #347DB5 100%);
    display: flex;
    padding: 120px 0px;
    flex-direction: column;
    align-items: center;
}

.secondary-banner__tagline {
    color: #F0F0F0;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 162%;
}

.secondary-row {
    color: #000;
    margin-bottom: 20%;

    .row-custom-background {
        display: flex;
        width: 95%;
        top: -5%;
        margin: 0 auto;
        left: 2.5%;
        height: 110%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        border-radius: 8px;
        background: #e3eef7;
        z-index: 1;
    }

    h3 {
      color: #337CB4;
    }

    img {
        border-radius: 6px;
    }

    @include at-media(desktop) {
        margin-bottom: 8%;
    }
}

.secondary-row.one {
    @include at-media(desktop) {
        .row1A p {
            padding-right: 11%;
        }
    }
}

.secondary-row.two {

    .row2A img {
        border-radius: 6px;
        margin-left: 2.5%;
        width: 95%;
    }

    .row2A, .row2B {
        z-index: 2;
    }

    @include at-media(mobile) {
        .grid-row {
            display: flex;
            flex-flow: column-reverse;
        }
    }

    @include at-media(desktop) {
        margin-bottom: 200px;

        .row2A img {
            margin-left: 0;
            width: 100%;
        }
    }

    @include at-media(desktop) {
        .grid-row {
            flex-flow: row;
        }

        .row-custom-background {
            width: 700px;
            top: 0;
            left: 23%;
            height: 100%;
            z-index: 2;
        }

        .row2A img {
            border-radius: 6px;
            width: 80%;
        }

        .row2B {
            background: #e3eef7;
            padding: 10% 5% 10% 0;
            border-radius: 8px;
        }
    }
}

@media screen and (max-width: 1025px) {
    .row2-lines {
        display: none;
    }
}

.row2-lines {
    right: 0;
    top: -20%;

    @media screen and (min-width: 1026px) {
        display: block;
    }

    @media screen and (min-width: 1026px) and (max-width: 1400px) {
        right: -20%;
        top: -15%;

        & img {
            width: 90%;
        }
    }
}

.row2-lines-mobile {
    z-index: 0;
    top: -13%;
}

@include at-media(desktop) {
    .row2-lines-mobile {
        display: none;
    }
}