<!-- DOE Playbook - START -->
<section id="doe-playbook">
    <div class="grid-container">
        <div class="grid-row flex-justify-center mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
            <div class="playbook-text grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-5">
                <h1 class="margin-top-0 margin-bottom-5">Diffusion Playbook</h1>
                <p class="margin-top-0 margin-bottom-2">Since 2016, Diffusion of Excellence has developed repeatable, inclusive frameworks that enable practices, developed by VHA frontline employees, to obtain recognition and broader impact. The Diffusion of Excellence Playbook provides these diffusion principles in a workbook format for any innovator to craft, replicate, and scale their work.</p>
                <a href="assets/documents/DoE_Playbook_2022_Sept2022.pdf"class="usa-button button-vha" title="Read the Diffusion Playbook">Read Diffusion Playbook</a>
            </div>
            <div class="playbook-img grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-3">
                <a href="assets/documents/DoE_Playbook_2022_Sept2022.pdf" title="Read the Diffusion Playbook"><img src="assets/img/home/doe-cover.png" class="img-fluid radius-lg" alt="Cover of the Diffusion Playbook" /></a>
            </div>
        </div>
    </div>
</section>
<!-- DOE Playbook - END -->